<form [formGroup]="dataFormGroup" (ngSubmit)="onClickAddTask()">
<div class="input-field col s3">
  <input formControlName="nazwa_produktu" type="text" class="validate"  />
  <label for="nazwa">Nazwa produktu</label>
</div>
<div class="input-field col s1">
  <input formControlName="quantity" type="number" class="validate"  />
  <label for="quantity">Ilość</label>
</div>
<div class="input-field col s4">
  <input formControlName="price" type="number" class="validate" >
  <label for="price">Wartość</label>
</div>
<div class="col s2 right-align">
  <button type="submit" class="btn-floating teal lighten-1">
    <i class="material-icons">+</i>
  </button>
</div>
</form>
